/* Ajuste para que la página no tenga desplazamiento vertical */
body {
    margin: 0;
    padding: 0;
    background-color: rgb(220, 220, 249);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    overflow-x: hidden; /* Evitar desplazamiento horizontal */
    overflow-y: scroll; /* Permitir desplazamiento vertical */
    
        margin-bottom: 900px; /* Ajusta el valor según sea necesario para cubrir completamente el contenedor inferior */

}

.top-container {
    background-color: #F99F9F;
    color: #000000;
    padding: 20px;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

p{
    font-family: 'Londrina solid',cursive;
    font-size: 35px;
    color: #000000;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
    margin-left: 100px;
    position: relative;left: 190px;
}
.img-1{
    width: 70px;
    height: 70px;
    margin-left: -250px;
    position: relative;left: 200px;
}
img {
    width: 70px;
    height: 70px;
    margin-left: -300px;
    
}
.box-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 99%; /* Cambié el ancho al 100% para que se ajuste al ancho de la pantalla */
    padding: 1px;
}
.right-box1{
    position: relative;
    left: -19px;
}
.box {
    width: 370px;
    height: 370px;
    background-color: #fff;
    border: 1px solid #ffffff;
    margin: 0 15px 15px 0; /* Añadí margen derecho para crear espacio entre los cuadros */
    display: flex;
    flex-direction: row;
    align-items: center;
}
/* Estilo específico para los elementos <p> dentro de .box */
.box .text1 {
    font-family: 'Londrina ';
    font-size: 25px; /* Tamaño de fuente personalizado */
    line-height: 1.5; /* Espaciado entre líneas personalizado */
   position: relative; left: -60px; ; top: -10px;
}
.box .text2 {
    font-family: 'Londrina ';
    font-size: 25px; /* Tamaño de fuente personalizado */
    line-height: 1.5; /* Espaciado entre líneas personalizado */
    position: relative; left: -50px; ; top: -60px;
}
.box .text3 {
    font-family: 'Londrina ';
    font-size: 25px; /* Tamaño de fuente personalizado */
    line-height: 1.5; /* Espaciado entre líneas personalizado */
    position: relative; left: -50px; ; top: -110px;
}
.box .text4 {
    font-family: 'Londrina ';
    font-size: 25px; /* Tamaño de fuente personalizado */
    line-height: 1.5; /* Espaciado entre líneas personalizado */
    position: relative; left: -65px; ; top: -55px;
}
.box .text5 {
    font-family: 'Londrina ';
    font-size: 25px; /* Tamaño de fuente personalizado */
    line-height: 1.5; /* Espaciado entre líneas personalizado */
    position: relative; left: -50px; ; top: -68px;
}
.box .text6 {
    font-family: 'Londrina ';
    font-size: 25px; /* Tamaño de fuente personalizado */
    line-height: 1.5; /* Espaciado entre líneas personalizado */
    position: relative; left: -50px; ; top: -78px;
}
.box .text7 {
    font-family: 'Londrina ';
    font-size: 25px; /* Tamaño de fuente personalizado */ /* Espaciado entre líneas personalizado */
    position: relative; left: -50px; top: -55px;
}
.box .text8 {
    font-family: 'Londrina ';
    font-size: 25px; /* Tamaño de fuente personalizado */
    line-height: 1.5; /* Espaciado entre líneas personalizado */
    position: relative; left:-50px; ; top: -125px;
}
/* Estilo para los iconos */
.icon {
    width: 70px;
    height: 70px;
    margin-right: 10px; /* Añadí un margen derecho para separar los iconos de los cuadros */
    transform: scaleX(-1); /* Voltear el icono horizontalmente */
    margin-right: -66px; /* Ajusta el margen derecho si es necesario */
    margin-left: -75px; /* Ajusta el margen izquierdo para mover los iconos a la izquierda */
position: relative;top: -8.9px;
}

/* Estilo específico para el icono central que mira a la izquierda */
.icon1 {
    width: 70px;
    height: 70px;
    margin-right: 10px; /* Añadí un margen derecho para separar los iconos de los cuadros */
    transform: scaleX(-1); /* Voltear el icono horizontalmente */

}
.icons {
    
    justify-content: space-between; /* Espacio entre los iconos */
    align-items: center;
}
.icons1 {
    
    justify-content: space-between; /* Espacio entre los iconos */
    align-items: center;
}
.icon {
    width: 95px; /* Ajusta el ancho de los iconos según tus necesidades */
    height: 75px; /* Ajusta la altura de los iconos según tus necesidades */
    margin-bottom: 295px; /* Ajusta el margen inferior para acercar los iconos a los cuadros */
    margin-right: -66px; /* Ajusta el margen derecho si es necesario */
    margin-left: -75px; /* Ajusta el margen izquierdo para mover los iconos a la izquierda */
position: relative;left: -1.59px;
}
.icon2 {
    width: 75px; /* Ajusta el ancho de los iconos según tus necesidades */
    height: 75px; /* Ajusta la altura de los iconos según tus necesidades */
    margin-bottom: 290px; /* Ajusta el margen inferior para acercar los iconos a los cuadros */
    margin-right: -60px; /* Ajusta el margen derecho si es necesario */
    margin-left: -75px; /* Ajusta el margen izquierdo para mover los iconos a la izquierda */
position: relative; top: -10px;
}
.icon3 {
    width: 85px; /* Ajusta el ancho de los iconos según tus necesidades */
    height: 85px; /* Ajusta la altura de los iconos según tus necesidades */
    margin-bottom: 280px; /* Ajusta el margen inferior para acercar los iconos a los cuadros */
    margin-right: 10px; /* Ajusta el margen derecho si es necesario */
    margin-left: -75px; /* Ajusta el margen izquierdo para mover los iconos a la izquierda */
position: relative;top:-12.4px;
}
.icon4 {
    width: 80px; /* Ajusta el ancho de los iconos según tus necesidades */
    height: 80px; /* Ajusta la altura de los iconos según tus necesidades */
    margin-bottom: 280px; /* Ajusta el margen inferior para acercar los iconos a los cuadros */
    margin-right: -50px; /* Ajusta el margen derecho si es necesario */
    margin-left: -75px; /* Ajusta el margen izquierdo para mover los iconos a la izquierda */
position: relative;top: -14.5px; left: 60px;
}

.icon5 {
    width: 85px; /* Ajusta el ancho de los iconos según tus necesidades */
    height: 85px; /* Ajusta la altura de los iconos según tus necesidades */
    margin-bottom: 280px; /* Ajusta el margen inferior para acercar los iconos a los cuadros */
    margin-right: 10px; /* Ajusta el margen derecho si es necesario */
    margin-left: -75px; /* Ajusta el margen izquierdo para mover los iconos a la izquierda */
    position: relative; left:115px; top: -20px;

}

.icon6 {
    width: 85px; /* Ajusta el ancho de los iconos según tus necesidades */
    height: 85px; /* Ajusta la altura de los iconos según tus necesidades */
    margin-bottom: 280px; /* Ajusta el margen inferior para acercar los iconos a los cuadros */
    margin-right: 10px; /* Ajusta el margen derecho si es necesario */
    margin-left: -75px; /* Ajusta el margen izquierdo para mover los iconos a la izquierda */
}
.icon7 {
    width: 85px; /* Ajusta el ancho de los iconos según tus necesidades */
    height: 85px; /* Ajusta la altura de los iconos según tus necesidades */
    margin-bottom: 280px; /* Ajusta el margen inferior para acercar los iconos a los cuadros */
    margin-right: 10px; /* Ajusta el margen derecho si es necesario */
    margin-left: -75px; /* Ajusta el margen izquierdo para mover los iconos a la izquierda */
position: relative;top: -20px;
}

/* Estilo para los nuevos cuadros blancos centrados */
.centered-icon-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 1px;
    margin-left: -5px;
  }
  
  .center-icon {
    width: 370px;
    height: 370px;
    background-color: #fff;
    border: 1px solid #ffffff;
    margin: 0 15px 15px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;left: 30px;
  }
/* Resto de tus estilos */
.big-box {
    width: 861px; /* Ancho del cuadro grande */
    height: 1050px; /* Altura del cuadro grande */
    background-color: #fff;
    margin: 0 auto 15px auto; /* "auto" en el margen izquierdo y derecho centrará el cuadro horizontalmente */
    display: flex;
    align-items: center;
    justify-content: center;

}
.icon9 {
    width: 75px; /* Ajusta el ancho de los iconos según tus necesidades */
    height: 75px; /* Ajusta la altura de los iconos según tus necesidades */
    margin-bottom: 309px; /* Ajusta el margen inferior para acercar los iconos a los cuadros */
    margin-right: 25px; /* Ajusta el margen derecho si es necesario */
    margin-left: 1px; /* Ajusta el margen izquierdo para mover los iconos a la izquierda */
position: relative;
}
.icon10 {
    width: 85px; /* Ajusta el ancho de los iconos según tus necesidades */
    height: 85px; /* Ajusta la altura de los iconos según tus necesidades */
    margin-bottom: 330px; /* Ajusta el margen inferior para acercar los iconos a los cuadros */
    margin-right: 10px; /* Ajusta el margen derecho si es necesario */
    margin-left: -110px; /* Ajusta el margen izquierdo para mover los iconos a la izquierda */
position: relative; left: 115px;
}
.centered-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 15px; /* Espacio uniforme entre los elementos */
    margin-left: -5px;

}
/* Resto de tus estilos */
.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px; /* Ajusta la separación desde arriba según tus necesidades */
}

.button-right {
    width: 250px; /* Ajusta el ancho de los botones según tus necesidades */
    height: 75px; /* Ajusta la altura de los botones según tus necesidades */
    font-family: 'Abel', sans-serif; /* Aplica la fuente Abel a todos los botones */
    font-size: 25px;
    background-color: #B24C4C;
    color: #fff;
    border: none;
    cursor: pointer;
    outline: none;
    position: absolute; left: 935px;top:1675px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5); /* Sombras solo en la parte inferior */
}
/* Resto de tus estilos */
.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px; /* Ajusta la separación desde arriba según tus necesidades */
}

.button-left {
    width: 250px; /* Ajusta el ancho de los botones según tus necesidades */
    height: 75px; /* Ajusta la altura de los botones según tus necesidades */
    font-family: 'Abel', sans-serif; /* Aplica la fuente Abel a todos los botones */
    font-size: 25px;
    background-color: #B24C4C;
    color: #fff;
    border: none;
    cursor: pointer;
    outline: none;
    position: absolute; left: 329px; top:1675px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 1); /* Sombras solo en la parte inferior */
}
/* Estilo para los elementos de texto y precio */
.option-text1 {
    font-family: 'Abel', sans-serif; /* Aplica la fuente Abel a todos los botones */
    margin-right: 200px; /* Espacio entre el texto y el precio */
    position: relative;top: -17px;
}
.option-text2 {
    font-family: 'Abel', sans-serif; /* Aplica la fuente Abel a todos los botones */
    margin-right: 224px; /* Espacio entre el texto y el precio */
    position: relative;top: -17px;
}
.option-text3 {
    font-family: 'Abel', sans-serif; /* Aplica la fuente Abel a todos los botones */
    margin-right: 232px; /* Espacio entre el texto y el precio */
    position: relative;top: -17px;
}
.option-text4 {
    font-family: 'Abel', sans-serif; /* Aplica la fuente Abel a todos los botones */
    margin-right: 218px; /* Espacio entre el texto y el precio */
    position: relative;top: -17px;
}
.option-text5 {
    font-family: 'Abel', sans-serif; /* Aplica la fuente Abel a todos los botones */
    margin-right: 225px; /* Espacio entre el texto y el precio */
    position: relative;top: -17px;
}
.option-text6 {
    font-family: 'Abel', sans-serif; /* Aplica la fuente Abel a todos los botones */
    margin-right: 229px; /* Espacio entre el texto y el precio */
    position: relative;top: -17px;
}
.option-text7 {
    font-family: 'Abel', sans-serif; /* Aplica la fuente Abel a todos los botones */
    margin-right: 214px; /* Espacio entre el texto y el precio */
    position: relative;top: -17px;
}
.option-text8 {
    font-family: 'Abel', sans-serif; /* Aplica la fuente Abel a todos los botones */
    margin-right: 192px; /* Espacio entre el texto y el precio */
    position: relative;top: -17px;
}

.option-price1 {
    font-family: 'Abel', sans-serif; /* Aplica la fuente Abel a todos los botones */
align-content: center;
    position: relative;left: -15px; top: -16px;

}
.option-text9 {
    font-family: 'Abel', sans-serif; /* Aplica la fuente Abel a todos los botones */
    margin-right: 234px; /* Espacio entre el texto y el precio */
    position: relative;top: -60px;
}
.option-text10 {
    font-family: 'Abel', sans-serif; /* Aplica la fuente Abel a todos los botones */
    margin-right: 225px; /* Espacio entre el texto y el precio */
    position: relative;top: -60px;
}
.option-text11 {
    font-family: 'Abel', sans-serif; /* Aplica la fuente Abel a todos los botones */
    margin-right: 224px; /* Espacio entre el texto y el precio */
    position: relative;top: -60px;
}
.option-text12 {
    font-family: 'Abel', sans-serif; /* Aplica la fuente Abel a todos los botones */
    margin-right: 170px; /* Espacio entre el texto y el precio */
position: relative; top: -60px;
}
.option-text13 {
    font-family: 'Abel', sans-serif; /* Aplica la fuente Abel a todos los botones */
    margin-right: 239px; /* Espacio entre el texto y el precio */
    position: relative;top: -60px;
}
.option-text14 {
    font-family: 'Abel', sans-serif; /* Aplica la fuente Abel a todos los botones */
    margin-right: 255px; /* Espacio entre el texto y el precio */
    position: relative;top: -60px;
    
}

.option-price2 {
    font-family: 'Abel', sans-serif; /* Aplica la fuente Abel a todos los botones */
align-items: center;
position: relative;left: -25px; top: -59px;

}
.option-text15 {
    font-family: 'Abel', sans-serif; /* Aplica la fuente Abel a todos los botones */
    margin-right: 238px; /* Espacio entre el texto y el precio */
position: relative;top: -114px;

}
.option-text16 {
    font-family: 'Abel', sans-serif; /* Aplica la fuente Abel a todos los botones */
    margin-right: 200px; /* Espacio entre el texto y el precio */
    position: relative; top: -114px;

}
.option-text17 {
    font-family: 'Abel', sans-serif; /* Aplica la fuente Abel a todos los botones */
    margin-right: 216px; /* Espacio entre el texto y el precio */
position: relative; top: -114px;
}
.option-text18 {
    font-family: 'Abel', sans-serif; /* Aplica la fuente Abel a todos los botones */
    margin-right: 157px; /* Espacio entre el texto y el precio */
position: relative;top: -65.5px;
}
.option-text19 {
    font-family: 'Abel', sans-serif; /* Aplica la fuente Abel a todos los botones */
    margin-right: 110px; /* Espacio entre el texto y el precio */
    position: relative;top: -65.5px;
}

.option-text20 {
    font-family: 'Abel', sans-serif; /* Aplica la fuente Abel a todos los botones */
    margin-right: 186px; /* Espacio entre el texto y el precio */
    position: relative;top: -65.5px;
}
.option-text21 {
    font-family: 'Abel', sans-serif; /* Aplica la fuente Abel a todos los botones */
    margin-right: 149px; /* Espacio entre el texto y el precio */
    position: relative;top: -65.5px;
}
.option-text22 {
    font-family: 'Abel', sans-serif; /* Aplica la fuente Abel a todos los botones */
    margin-right: 125px; /* Espacio entre el texto y el precio */
    position: relative;top: -65.5px;
}
.option-text23 {
    font-family: 'Abel', sans-serif; /* Aplica la fuente Abel a todos los botones */
    margin-right: 136px; /* Espacio entre el texto y el precio */
position: relative; left: -1px;
position: relative;top: -65.5px;
}
.option-text24 {
    font-family: 'Abel', sans-serif; /* Aplica la fuente Abel a todos los botones */
    margin-right: 150px; /* Espacio entre el texto y el precio */
position: relative;top: -75.5px;
}
.option-text25 {
    font-family: 'Abel', sans-serif; /* Aplica la fuente Abel a todos los botones */
    margin-right: 128px; /* Espacio entre el texto y el precio */
    position: relative;top: -75.5px;
}
.option-text26 {
    font-family: 'Abel', sans-serif; /* Aplica la fuente Abel a todos los botones */
    margin-right: 112px; /* Espacio entre el texto y el precio */
    position: relative;top: -75.5px;
}
.option-text27 {
    font-family: 'Abel', sans-serif; /* Aplica la fuente Abel a todos los botones */
    margin-right: 152px; /* Espacio entre el texto y el precio */
    position: relative;top: -75.5px;
}
.option-text28 {
    font-family: 'Abel', sans-serif; /* Aplica la fuente Abel a todos los botones */
    margin-right: 148px; /* Espacio entre el texto y el precio */
    position: relative;top: -75.5px;
}
.option-text29 {
    font-family: 'Abel', sans-serif; /* Aplica la fuente Abel a todos los botones */
    margin-right: 110px; /* Espacio entre el texto y el precio */
    position: relative;top: -75.5px;
}
.option-text30 {
    font-family: 'Abel', sans-serif; /* Aplica la fuente Abel a todos los botones */
    margin-right: 172px; /* Espacio entre el texto y el precio */
 position: relative;top: -75.5px;
}
.option-text31 {
    font-family: 'Abel', sans-serif; /* Aplica la fuente Abel a todos los botones */
    margin-right: 164px; /* Espacio entre el texto y el precio */
    position: relative;top: -75.5px;
}
.option-text32 {
    font-family: 'Abel', sans-serif; /* Aplica la fuente Abel a todos los botones */
    margin-right: 141px; /* Espacio entre el texto y el precio */
    position: relative;top: -63.5px;
}
.option-text33 {
    font-family: 'Abel', sans-serif; /* Aplica la fuente Abel a todos los botones */
    margin-right: 191px; /* Espacio entre el texto y el precio */
    position: relative;top: -63.5px;
}
.option-text34 {
    font-family: 'Abel', sans-serif; /* Aplica la fuente Abel a todos los botones */
    margin-right: 159px; /* Espacio entre el texto y el precio */
    position: relative;top: -63.5px;
}
.option-text35 {
    font-family: 'Abel', sans-serif; /* Aplica la fuente Abel a todos los botones */
    margin-right: 168px; /* Espacio entre el texto y el precio */

position: relative;top: -63.5px;
}
.option-text36 {
    font-family: 'Abel', sans-serif; /* Aplica la fuente Abel a todos los botones */
    margin-right: 177px; /* Espacio entre el texto y el precio */

position: relative;top: -63.5px;
}
.option-text37 {
    font-family: 'Abel', sans-serif; /* Aplica la fuente Abel a todos los botones */
    margin-right: 187px; /* Espacio entre el texto y el precio */
position: relative;top: -116px;
}
.option-text38 {
    font-family: 'Abel', sans-serif; /* Aplica la fuente Abel a todos los botones */
    margin-right: 190px; /* Espacio entre el texto y el precio */
    position: relative;top: -116px;
}

.option-price2 {
    font-family: 'Abel', sans-serif; /* Aplica la fuente Abel a todos los botones */
align-items: center;

}
.option-price3 {
    font-family: 'Abel', sans-serif; /* Aplica la fuente Abel a todos los botones */
align-items: center;
position: relative;top:-114px;left: -35px;

}
.option-price4 {
    font-family: 'Abel', sans-serif; /* Aplica la fuente Abel a todos los botones */
align-items: center;
position: relative;left: 17.5px; top: -65px;

}
.option-price5 {
    font-family: 'Abel', sans-serif; /* Aplica la fuente Abel a todos los botones */
align-items: center;
position: relative;left: 50px;top: -74px;
}
.option-price6 {
    font-family: 'Abel', sans-serif; /* Aplica la fuente Abel a todos los botones */
align-items: center;
position: relative;left: 50px;top: -74px;
}
.option-price7 {
    font-family: 'Abel', sans-serif; /* Aplica la fuente Abel a todos los botones */
align-items: center;
position: relative;left: -17px;top:-62px ;
}
.option-price8 {
    font-family: 'Abel', sans-serif; /* Aplica la fuente Abel a todos los botones */
align-items: center;
position: relative;left: 8px;top: -112px;
}
input[name="radioOption"] {
  vertical-align: 15px;
  position: relative;top:-1px; /* Ajusta este valor según tus necesidades */
}
input[name="radioOption2"] {
  vertical-align: 15px;
  position: relative;top: -43px; /* Ajusta este valor según tus necesidades */
}

input[name="radioOption3"] {
  vertical-align: 15px;
  position: relative;top: -97px; /* Ajusta este valor según tus necesidades */
}
input[name="radioOption4"] {
  vertical-align: 15px;
  position: relative;top: -100px; /* Ajusta este valor según tus necesidades */
}

input[name="options"] {
  vertical-align: 15px;
  position: relative;top: -50px; /* Ajusta este valor según tus necesidades */
}

input[name="options2"] {
  vertical-align: 15px;
  position: relative;top: -60px; /* Ajusta este valor según tus necesidades */
}


input[name="options3"] {
  vertical-align: 15px;
  position: relative;top: -59.5px; /* Ajusta este valor según tus necesidades */
}


input[name="options4"] {
    vertical-align: 15px;
    position: relative;top: -48px; /* Ajusta este valor según tus necesidades */
  }
  
  

/* Estilo para etiquetas de radio buttons */
    label {
        display: inline-block; /* Coloca las etiquetas en línea horizontal */
        margin-right: 1px; /* Añade un margen derecho para separar los elementos */
      }
   
  .abel-font {
  font-family: 'Abel', sans-serif;
}
  
/* Nuevos estilos para la clase result-font */
.result-font {
    font-size: 10px;
    font-family: 'Abel', sans-serif; /* Cambia 'Nueva Fuente' por la fuente que desees usar */
    /* Otros estilos de fuente específicos si es necesario */
}
.result-item {
    font-family: 'Abel', sans-serif; /* Ajusta el nombre de la fuente según sea necesario */
    font-size: 15px; /* Ajusta el tamaño de fuente según sea necesario */
    position: relative;left: 35px;top: 10px;
    
    /* Agrega cualquier otro estilo necesario */
}

/* Mantén tus estilos existentes para los resultados, probablemente algo similar a esto: */
.abel-font {
    font-family: 'Abel', sans-serif;
    font-size:25px;
    position: absolute;left: 350px;
    /* Otros estilos si los tienes */
}
.abel-font1 {
    font-family: 'Abel', sans-serif;
    font-size:20px;
    position: absolute;left: 950px;
    /* Otros estilos si los tienes */
}
.abel-font3 {
    font-family: 'Abel', sans-serif;
    font-size:15px;
    position: relative;left: 35px;
    /* Otros estilos si los tienes */
}
.bottom-container {
    text-align: center;
    margin-top: 20px; /* Ajusta el margen según tu preferencia */
    font-family: 'Cambria', Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
  }
  
  .bottom-container p {
    background-color: #F99F9F;
    color: #000000; 
    font-size: 25px;
    font-family: 'Arial';
    padding: 50px;
    margin: 0; /* Elimina el margen predeterminado del párrafo */
    width: 150vw; /* Establece el ancho al 100% del ancho de la ventana */
    box-sizing: border-box; /* Incluye el padding y el borde en el ancho total */
    position: relative;left:-10px;
  }